.table-options {
  width: 100%;
  height: 4rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  width: 11rem;
  height: 4rem;
  background-color: rgba(69, 176, 232, 0.15);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__title {
  opacity: 0.5;
  font-size: 1.8rem;
  font-family: 'Noto Sans', sans-serif;
}

.tours {
  width: 80rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__timeline {
    width: 100%;
    height: 0.1rem;
    background-color: rgba(112, 112, 122, 0.5);
    display: flex;
    align-items: center;

    &__slick {
      height: 3.4rem;
      width: 1.2rem;
      background-color: #645d5d;
    }
  }
}
