.page {
  width: 11rem;
  height: 4rem;
  background-color: rgba(69, 176, 232, 0.15);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    opacity: 0.5;
    font-size: 1.8rem;
    font-family: 'Noto Sans', sans-serif;
  }
}
