.content {
  width: 117rem;
  height: 46.9rem;
  display: flex;
  justify-content: center;
  background-color: #272727;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  overflow-y: scroll;
}

.loading {
  align-items: center;
}
