.clubs-content {
  width: 117rem;
  height: 46.9rem;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  border-radius: 3px;
}

.center {
  justify-content: center;
}
